body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

*:focus {
  outline: none;
}

.common-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  height: 100px;
  background-color: #242626;
}

.common-scroll::-webkit-scrollbar {
  width: 4px;
  height: 100px;
  background-color: #242626;
}

.common-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

header {
  font-size: 0.9rem;
  height: 66px;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 500;
}

.header-logo {
  position: relative;
  left: 5%;
  width: 20%;
  height: 100%;
  width: 10%;
  text-align: right;
  float: left;
  cursor: pointer;
}

.header-logo-img {
  cursor: pointer;
  text-align: right;
  padding: 4px 0 2px;
  height: 68px;
  width: auto;
  z-index: 501;
}

.header-nav-pc {
  text-align: center;
  display: inline-block;
  width: 80%;
  padding-left: -10%;
  height: 100%;
}

.header-nav-pc nav {
  height: 100%;
}

.header-nav-pc ul {
  margin: 0 auto;
  z-index: 1000;
  height: 100%;
}

.header-nav-pc ul li {
  display: inline-block;
  padding: 25px 2.2% 25px;
  color: white;
  height: 100%;
}

.header-nav-pc li img {
  width: 95%;
}

.header-nav-pc ul li:hover {
  background-image: url('https://ragnador.jp/assets/images/common/menu_on.png');
  background-position: center;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.header-nav-current {
  background-image: url('https://ragnador.jp/assets/images/common/menu_on.png');
  background-position: center;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

footer {
  position: relative;
  background-color: #051217;
  padding: 3% 0 8%;
  font-size: calc(0.9rem + ((0.9vw - 0.7rem) * 0.7));
}

.footer-description {
  padding: 5% 10%;
  border-bottom: 0.5px solid;
  border-color: #3c484b;
  position: relative;
}

.footer-description-logo-area {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.footer-description-area {
  text-align: center;
  display: inline-block;
  width: 49%;
}

.footer-description ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.footer-description li {
  font-family: "fot-matisse-pron", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7a8686;
  padding: 1% 0;
}

.footer-description li::before {
  white-space: pre-wrap;
}

.footer-logo {
  width: 30%;
}

footer .logo a {
  display: inline-block;
}

.footer-link {
  text-align: center;
  color: #7a8686;
}

.footer-link li {
  display: inline-block;
  padding: 26px 2px 20px 2px;
}

.footer-link li:nth-child(n + 2)::before {
  white-space: pre-wrap;
  content: "| ";
}

.pc-disp {
  display: block !important;
}

.sp-disp {
  display: none !important;
}

.p-relative {
  position: relative;
}

.common-link-hover {
  cursor: pointer;
  transition-duration: 0.3s;
}

.common-link-hover:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.footer-grams-logo {
  width: 17%;
  margin: 5% 0 2%;
}

@media screen and (min-width: 769px) and (max-width: 870px) {
  .header-nav-pc {
    margin-left: 0%;
  }

  .header-nav-pc ul li {
    padding: 25px 1.6% 25px;
  }
}

@media screen and (max-width: 767px) {
  .pc-disp {
    display: none !important;
  }

  .sp-disp {
    display: block !important;
  }

  header {
    padding: 0.7% 4% 0 3%;
  }

  .header-logo {
    left: 0%;
    margin: 2%;
  }

  .header-logo-img {
    height: 90%;
  }

  .header-nav-sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 0px;
  }

  .header-nav-sp-menu-list {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: right 0.5s;
  }

  .header-nav-sp-menu-list a {
    display: inline-block;
    padding: 0;
  }

  .header-nav-sp-menu-list li img:not(.header-nav-sp-menu-register-img) {
    width: 100%;
  }

  .header-nav-sp-menu {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    margin: 0 0 0 auto;
  }

  .header-nav-sp-menu-icon {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #afbdc0;
    position: relative;
    transition: all 0.5s;
  }

  .header-nav-sp-menu-icon::before,
  .header-nav-sp-menu-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #afbdc0;
    position: absolute;
    transition: all 0.5s;
  }

  .header-nav-sp-menu-icon::before {
    transform: translateY(-12px);
  }

  .header-nav-sp-menu-icon::after {
    transform: translateY(12px);
  }

  .header-nav-sp-menu.open .header-nav-sp-menu-icon {
    background-color: transparent;
  }

  .header-nav-sp-menu.open .header-nav-sp-menu-icon::before {
    transform: rotate(45deg);
  }

  .header-nav-sp-menu.open .header-nav-sp-menu-icon::after {
    transform: rotate(-45deg);
  }

  .header-nav-sp-menu-list.open {
    right: 0;
  }

  footer {
    font-size: 0.8rem;
  }

  .footer-description {
    padding: 10% 12%;
    border-bottom: 0.5px solid;
    border-color: #3c484b;
  }

  .footer-description-logo-area {
    display: block;
    width: 100%;
    margin: 0 0 5%;
  }

  .footer-description-area {
    display: block;
    width: 100%;
  }

  .footer-description li {
    padding: 2% 0;
  }

  .footer-description li::before {
    content: "";
  }

  .footer-logo {
    width: 50%;
  }

  .footer-grams-logo {
    width: 50%;
    margin: 15% 0 5%;
  }

  .footer-link li {
    font-size: 0.85rem;
    display: inline-block;
    padding: -20px 2px -20px 2px;
  }

  .header-nav-sp-menu-register-bg {
    text-align: center;
    padding: 3% 0;
    background-color: rgb(33, 35, 37, 0.9)
  }

  .header-nav-sp-menu-register-img{
    width: 85%;
  }

}
