.download-terms-modal-area {
  position: relative;
  text-align: center;
}

.download-terms-modal-close {
  position: absolute;
  right: 0%;
  top: -10%;
  width: 4%;
  max-width: 50px;
  cursor: pointer;
}

.download-terms-modal-container {
  text-align: center;
  max-width: 2000px;
  margin: 0 5%;
  max-height: 80%;
}

.download-terms-modal-box {
  border-radius: 10px;
  padding: 5%;
  background-color: #e9f2f3;
  color: #001c40;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download-terms-modal-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.download-terms-modal-title-img {
  max-width: 70%;
  width: 390px;
  max-height: 30px;
}

.download-terms-modal-alert {
  text-align: center;
  color: red;
  padding: 0 10%;
}

.download-terms-modal-terms-area {
  background-color: #becbcf;
  height: 40vh;
  overflow-wrap: break-all;
  border-radius: 12px;
  color: #081A1F;
  margin-top: 2%;
  padding: 5px 0 5px;
}

.download-terms-modal-terms-checkbox-img {
  max-height: 40px;
  width: 240px;
  cursor: pointer;
  margin: 2%;
  max-width: 80%;
}

.download-terms-modal-download-btn-img {
  max-height: 56px;
  width: 320px;
  max-width: 90%;
  margin: 1%;
}

@media screen and (max-width: 767px) {

  .download-terms-modal-area {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
  }

  .download-terms-modal-close {
    position: absolute;
    right: 5%;
    top: 3%;
    width: 10%;
    cursor: pointer;
  }

  .download-terms-modal-container {
    width: 90%;
    height: 80%;
  }

  .download-terms-modal-alert {
    font-size: 0.8rem;
  }

  .download-terms-modal-terms-area {
    width: 100%;
    margin: 2% 0;
    height: 50vh;
  }

}