.top {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 560px;
  background-color: #051217;
}

.top-video-bg {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  background-color: black;
  object-fit: cover;
}

.top-link {
  position: absolute;
  text-align: center;
  bottom: 15%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.top-logo img {
  width: 30%;
}

.top-link-area {
  display: inline;
  padding: 0 15px;
}

.top-link-img {
  background-image: url(/assets/images/top/BtnAppStore_on.png);
}

.top-link-area a {
  display: inline-block;
}

.top-link-area a:hover {
  background-color: transparent;
}

.top-link-area a:hover img {
  visibility: hidden;
}

.top-link-appstore:hover {
  background-image: url(/assets/images/common/BtnAppStore_on.png);
}

.top-link-googleplay:hover {
  background-image: url(/assets/images/common/BtnGooglePlay_on.png);
}

.top-bgm-button {
  position: relative;
  position: fixed;
  z-index: 100;
  right: 1%;
  top: 5.5vw;
  width: 85px;
  cursor: pointer;
}

.top-pre-register-btn {
  position: relative;
  position: fixed;
  z-index: 100;
  right: 1%;
  bottom: 5%;
  text-align: right;
}

.top-pre-register-btn img {
  width: 90%;
}

.top-confirm-bgm-modal {
  position: fixed;
  display: none;
  z-index: 9999;
  top: 40%;
  left: 0;
  right: 0;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.top-confirm-bgm-text {
  font-size: 1.4rem;
  padding: 5% 0;
}

.top-confirm-bgm-select {
  margin: 5%;
  padding: 5%;
}

.top-confirm-bgm-modal p {
  margin-bottom: 10px;
  color: white;
}

.top-confirm-bgm-modal a {
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}

.news {
  position: relative;
}

.news-bg {
  width: 100%;
  max-height: 1000px;
}

.news-area {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
}

.news-container {
  position: relative;
  max-width: 2000px;
  margin: auto;
}

.news-box {
  padding: 3% 4%;
  margin: 8% auto;
  width: 65%;
  height: 81%;
  background-color: #e9f2f3;
  border-radius: 20px;
  color: #001c40;
  font-size: calc(0.8rem + ((0.9vw - 0.7rem) * 0.7));
}

.news-title-img {
  width: 35%;
}

.news-twitter-title-img {
  width: 35%;
}

.news-list {
  text-align: center;
  width: 49%;
  display: inline-block;
  padding: 0 2% 0 0;
  vertical-align: top;
}

.news-title {
  padding: 3% 0 13%;
}

.news-twitter {
  text-align: center;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.news-twitter-title {
  padding: 3% 0 5%;
}

.news-twitter-link {
  text-align: right;
  padding: 0 2% 2%;
}

.news-twitter-link-img {
  width: 35%;
}

.news-twitter-area {
  padding: 0 0 0 5%;
  height: 25vw;
  max-height: 400px;
}

.news-list ul {
  text-align: left;
}

.news-list li:first-child {
  padding: 5% 0;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.news-list li {
  padding: 5% 0;
  border-bottom: 1px solid #c0c0c0;
}

.news-list-more {
  padding: 5% 0 0;
  text-align: right;
}

.twitter-timeline {
  background-color: #e9f2f3;
}

.story {
  position: relative;
  text-align: center;
}

.story-bg {
  width: 100%;
  max-height: 1700px;
}

.story-area {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
}

.story-container {
  text-align: center;
  position: relative;
  max-width: 2000px;
  margin: auto;
}

.story-title-img {
  width: 25%;
  padding: 8% 0;
}

.story-txt-img {
  width: 55%;
}

/* story 슬라이드 230529 */
.slider {
  position: relative; 
  width: 80%; 
  margin: 0 auto;
}

.slider .list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #a6e6ff;
  font-size: 24px;
  font-weight: 500;
}

.slider .slide_tit {
  display: flex;
  position: absolute;
  bottom: -85px;
  left: 50%;
  max-width: 1180px;
  z-index: 100;
  transform: translate(-50%,0);
}

.slider .slide_tit::before {
  content: '';
  display: block; 
  width: 100%; 
  height: 2px; 
  position: absolute; 
  top: -2px; 
  background-color: #a7a7a7;
}

.slider .slide_tit > li {
  display: flex;
  flex:1 1 0;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 40px;
  margin: 0!important;
  padding: 0 10px;
  background: rgba(0,0,0,0.3);
  border-radius:0;
  font-size: 16px;
  letter-spacing:-0.025em;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.slider .slide_tit > li.swiper-pagination-bullet-active {
  color: #a6e6ff;
}

.slider .slide_tit > li .bar {
  position: absolute;
  top: -2px;
  left: 0;
  width:0;
  height: 3px;
  background: #a6e6ff;
}

.slider .slide_tit > li.swiper-pagination-bullet-active .bar {
  animation-name: countingBar;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

@keyframes countingBar {
  0% {width: 0;}
  100% {width:100%;}
}

/* // story 슬라이드 */

.chara {
  position: relative;
  max-height: 1500px;
}

.chara-bg {
  width: 100%;
}

.chara-bg-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.chara-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
}

.chara-select-list li:hover {
  background-image: url('../images/top/chara/Charathumb_on.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 100;
}

.chara-img {
  z-index: -1;
}

.chara-container {
  max-width: 1800px;
  height: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}

.chara-title {
  height: 16%;
}

.chara-title-img {
  width: 25%;
  padding: 10% 0 5%;
}

.chara-sub {
  margin: 1% 0;
}

.chara-sub img {
  width: 21%;
}

.chara-main-img {
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.chara-select-container {
  position: relative;
  z-index: 3;
  padding: 5% 5% 0;
}

.chara-select-info {
  text-align: left;
  padding: 0 12% 0 17%;
}

.chara-select-info-area {
  min-height: 14.5vw;
}

.chara-select-bg {
  background-color: black;
  border-radius: 5px;
}

.chara-info-name {
  min-height: 10.5vw;
}

.chara-select-info-name {
  margin: 1% 0 1% -4%;
  width: 55%;
}

.chara-select-info-detail {
  margin: 2% 0% 1%;
  width: 45%;
  background-color: #242626;
  opacity: 0.8;
}

.chara-select-info-detail h3 {
  font-size: calc(1rem + ((0.9vw - 0.7rem) * 0.7));
  padding: 2% 3%;
  color: white;
  background-color: rgba(3, 131, 142, 0.9);
  text-shadow: 1px 1px 3px #11b3b9, -1px 1px 3px #11b3b9, 1px -1px 3px #11b3b9, -1px -1px 3px #11b3b9;
}

.chara-select-info-detail h4 {
  font-size: calc(0.9rem + ((0.9vw - 0.7rem) * 0.7));
  color: white;
  padding: 3% 3% 2%;
}

.chara-select-info-detail-body {
  max-height: 12vw;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.chara-select-info-detail-body p {
  font-size: calc(0.75rem + ((0.9vw - 0.7rem) * 0.7));
  padding: 0 3% 4% 3%;
  color: whitesmoke;
  line-height: 1.8em;
  color: rgb(255, 255, 255);
}

.chara-name-test {
  color: whitesmoke;
  font-size: 40px;
  font-family: "arial unicode ms";
}

.chara-select-diagram {
  min-height: 5vw;
  margin: 9% 0 7%;
}

.chara-select-diagram img {
  width: 35%;
}

.chara-select-list {
  min-height: 6vw;
  width: 100%;
}

.chara-select-list ul li {
  display: inline-block;
  position: relative;
  margin: 0 1.5px;
}

.chara-select-list ul li {
  width: 8%;
}

.chara-select-list ul li img {
  width: 100%;
}

.chara-select-list-img-on {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.active .chara-select-list-img-on {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.chara-select-list-img-on:hover {
  opacity: 1;
}

.chara-select-area-list {
  margin-top: 2%;
  background-color: #242626;
  border-radius: 40px;
  padding: 0.3%;
  width: 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.chara-select-area-list ul {
  display: flex;
  width: 100%;
  justify-content: center;
  /* justify-content: space-between; */
}

.chara-select-area-list ul li {
  display: inline-block;
  padding: 1.2% 1% 1.1%;
  cursor: pointer;
}

.chara-select-area-list ul li img {
  vertical-align: middle;
  width: 88%;
}

.chara-select-area-list ul li:hover {
  background-color: #03838e;
  border-radius: 40px;
}

.chara-select-area-list ul li.active {
  background-color: #03838e;
  border-radius: 40px;
  padding: 1.1% 2%;
}

.chara-select-area-list ul li.active img {
  width: 100%;
}

.chara-modal-area {
  position: relative;
  text-align: center;
}

.chara-area-arr-back {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 100;
  cursor: pointer;
}
.chara-area-arr-back-img {
  position: absolute;
  top: 50%;
  left: 0.5%;
  z-index: 100;
  cursor: pointer;
  background-size: cover;
  width: 60px;
  height: 80px;
  background: url('https://ragnador.jp/assets/images/common/arr_back.png') no-repeat;
}

.chara-area-arr-next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 100;
  cursor: pointer;
}
.chara-area-arr-next-img {
  position: absolute;
  top: 50%;
  right: 0.5%;
  z-index: 100;
  cursor: pointer;
  background-size: cover;
  width: 60px;
  height: 80px;
  background: url('https://ragnador.jp/assets/images/common/arr_next.png') no-repeat;
}

.chara-modal-arr-back {
  position: absolute;
  top: 50%;
  left: 0.5%;
  cursor: pointer;
  z-index: 100;
  background-size: cover;
  width: 60px;
  height: 80px;
  background: url("https://ragnador.jp/assets/images/common/arr_back.png") no-repeat;
}

.chara-modal-arr-back:hover, .chara-area-arr-back-img:hover {
  background: url("https://ragnador.jp/assets/images/common/arr_back_on.png") no-repeat;
}

.chara-modal-arr-next {
  position: absolute;
  top: 50%;
  right: 0.5%;
  z-index: 100;
  cursor: pointer;
  width: 60px;
  height: 80px;
  background: url("https://ragnador.jp/assets/images/common/arr_next.png") no-repeat;
}

.chara-modal-arr-next:hover, .chara-area-arr-next-img:hover {
  background: url("https://ragnador.jp/assets/images/common/arr_next_on.png") no-repeat;
}

.modaal-container {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.chara-diagram-modal-close {
  position: absolute;
  right: 0%;
  top: -8%;
  width: 4%;
  max-width: 50px;
  cursor: pointer;
}

.chara-diagram-modal-img {
  width: 95%;
  max-width: 1500px;
}

.chara-swiper-container img {
  width: 40%;
}

.system {
  position: relative;
}

.system-bg {
  width: 100%;
  max-height: 1700px;
}

.system-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.system-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  width: 80%;
}

.system-title {
  padding: 12% 0 5%;
  margin: 0;
  text-align: center;
}

.system-title-img {
  width: 30%;
}

.system-detail {
  text-align: center;
  color: whitesmoke;
}

.system-detail-title {
  margin: 4% 0 2%;
  font-size: calc(1.6rem + ((0.9vw - 0.7rem) * 0.7));
}

.system-detail p {
  font-size: calc(1rem + ((0.9vw - 0.7rem) * 0.7));
  line-height: 2.5rem;
}

.system .swiper-container {
  text-align: center;
  position: relative;
}

.system .swiper-slide:not(.swiper-slide-active) {
  height: 100%;
  padding: 50px 0 50px;
  text-align: center;
}

.system .swiper-slide:not(.swiper-slide-active) img {
  filter: brightness(30%);
  width: 90%;
  vertical-align: middle;
}

.system .swiper-slide-active img {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.system .swiper-button-prev {
  background-image: url("https://ragnador.jp/assets/images/common/arr_back.png");
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 60px;
  top: 45%;
  left: 33%;
}

.system .swiper-button-prev:hover {
  background-image: url("https://ragnador.jp/assets/images/common/arr_back_on.png");
}

.system .swiper-button-next {
  background-image: url("https://ragnador.jp/assets/images/common/arr_next.png");
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 60px;
  top: 45%;
  right: 33%;
}

.system .swiper-button-next:hover {
  background-image: url("https://ragnador.jp/assets/images/common/arr_next_on.png");
}

.system-swiper-detail-deactive {
  display: none;
}

.system-modal-area {
  height: 100%;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.system-diagram-modal-close {
  position: absolute;
  right: 0%;
  top: -5%;
  width: 4%;
  cursor: pointer;
}

.system-diagram-modal-img {
  height: 80%;
}

.special {
  position: relative;
}

.special-bg {
  width: 100%;
  max-height: 1500px;
}

.special-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.special-container {
  position: relative;
  margin: auto;
  max-width: 2000px;
}

.special-title {
  text-align: center;
  margin: 10% 0 7%;
}

.special-title-img {
  width: 25%;
}

.special-bish-area,
.special-youtube-area {
  text-align: center;
  position: relative;
  width: 65%;
  margin: 5% auto;
}

.special-youtube-bg,
.special-bish-bg {
  width: 100%;
}

.special-youtube {
  width: 36%;
  position: absolute;
  top: 10%;
  right: 0%;
}

.special-youtube-title-img {
  width: 58%;
}

.special-youtube-btn-img {
  width: 60%;
}

.special-bish-btn-img {
  width: 60%;
}

.special-youtube-detail {
  line-height: 2em;
  font-size: calc(0.77rem + ((0.9vw - 0.7rem) * 0.7));
  color: #87a8cd;
  padding: 7% 0 7%;
}

.special-download-area {
  text-align: center;
  position: relative;
  width: 65%;
  margin: 5% auto;
}

.special-download-bg {
  width: 100%;
}

.special-download {
  width: 36%;
  position: absolute;
  top: 10%;
  right: 0%;
}

.special-download-title-img {
  width: 40%;
  padding-top: 7%;
}

.special-download-btn-img {
  width: 60%;
}

.special-download-detail {
  line-height: 2em;
  font-size: calc(0.77rem + ((0.9vw - 0.7rem) * 0.7));
  color: #87a8cd;
  padding: 7% 0 7%;
}

.special-bish {
  width: 36%;
  position: absolute;
  top: 15%;
  right: 0%;
}

.special-bish-detail {
  line-height: 2em;
  font-size: calc(0.77rem + ((0.9vw - 0.7rem) * 0.7));
  color: #87a8cd;
  padding: 7% 0 7%;
}

#chara-voice-area:hover {
  opacity: 0.8;
}

@media screen and (min-width: 2200px) {
  .chara-select-diagram {
    min-height: 80px;
    margin: 6% 0 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .small-screen-disp-none {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {

  .top-logo img {
    width: 80%;
  }

  .top-link {
    bottom: 3%;
  }

  .top-link-area {
    display: block;
    padding: 3% 0;
  }

  .top-link-appstore-img {
    height: 65px;
    width: 200px;
  }

  .top-link-googleplay-img {
    height: 65px;
    width: 200px;
  }

  .top-link-area a:hover img {
    visibility: visible;
  }

  .top-link-appstore:hover {
    background-image: url("");
  }

  .top-link-googleplay:hover {
    background-image: url("");
  }

  .news-container {
    width: 90%;
    border-radius: 10px;
    max-width: 100%;
  }

  .news-box {
    width: 100%;
    border-radius: 10px;
    opacity: 0.85;
  }

  .news-title-img {
    width: 55%;
  }

  .news-list {
    padding: 5% 2%;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    display: block;
  }

  .news-twitter {
    margin-top: 10%;
    width: 100%;
    display: block;
  }

  .news-twitter-area {
    padding: 0;
    height: 350px;
  }

  .news-twitter-title {
    padding: 1% 0 8%;
  }

  .news-twitter-title-img {
    width: 55%;
  }

  .news-twitter-link-img {
    width: 40%;
  }

  .story-title-img {
    width: 65%;
    margin: 8% 0;
  }

  .story-container {
    max-width: 100%;
  }

  .system-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 100%;
  }

  .system-title-img {
    width: 70%;
  }

  .system-detail-title {
    margin: 5% 0;
    font-size: 1.2rem;
  }

  .system-detail p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  .system .swiper-slide-active img {
    margin: auto;
    width: 100%;
    margin-top: 35px;
  }

  .system .swiper-button-prev {
    background-size: 40px 60px;
    height: 50px;
    top: 50%;
    left: 10%;
  }

  .system .swiper-button-next {
    background-size: 40px 60px;
    height: 50px;
    top: 50%;
    right: 10%;
  }

  .system-modal-area {
    height: 120%;
    vertical-align: middle;
    margin: 5% 0;
    text-align: center;
  }

  .system-diagram-modal-close {
    position: absolute;
    right: 5%;
    top: 3%;
    width: 10%;
    cursor: pointer;
  }

  .system-diagram-modal-img {
    position: relative;
    top: 7%;
    width: 90%;
    height: auto;
    margin: 5% 0;
  }

  .special-container {
    max-width: 100%;
  }

  .special-title-img {
    width: 65%;
    margin: 5% 0;
  }

  .special-bish-area,
  .special-youtube-area {
    text-align: center;
    position: relative;
    width: 96%;
    margin: 5% auto;
  }

  .special-youtube {
    width: 96%;
    position: absolute;
    top: 55%;
    right: 0;
    left: 0;
    margin: auto;
  }

  .special-youtube-detail {
    font-size: 0.55rem;
    padding: 3% 0;
  }

  .special-youtube-title-img {
    width: 85%;
  }

  .special-bish-btn-img {
    width: 45%;
  }

  .special-youtube-btn-img {
    width: 50%;
  }

  .special-download-area {
    text-align: center;
    position: relative;
    width: 96%;
    margin: 5% auto;
  }

  .special-download {
    width: 96%;
    position: absolute;
    top: 55%;
    right: 0;
    left: 0;
    margin: auto;
  }

  .special-download-detail {
    font-size: 0.8rem;
    padding: 3% 0;
  }

  .special-download-title-img {
    width: 30%;
    padding-top: 3%;
  }

  .special-bish-btn-img {
    width: 45%;
  }

  .special-download-btn-img {
    width: 50%;
  }

  .special-bish {
    width: 97%;
    position: absolute;
    top: 55%;
    right: 0;
    left: 0;
    margin: auto;
  }

  .special-bish-detail {
    font-size: 0.7rem;
    padding: 3% 0;
  }

  .special-bish-title-img {
    width: 32%;
  }

  .chara-container {
    max-width: 100%;
  }

  .chara-main-img {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .chara-title-img {
    width: 70%;
    padding: 15% 0 3%;
    position: relative;
    z-index: 500;
  }

  .chara-select-info-name {
    margin: 1% 0 1% 0%;
    width: 60%;
  }

  .chara-info-name img {
    padding: 2%;
    background-color: rgba(0, 76, 83, 0.8);
  }

  .chara-select-container {
    position: relative;
    z-index: 3;
    padding: 62% 0% 0;
  }

  .chara-select-area {
    height: 100%;
    position: relative;
  }

  .chara-select-info {
    text-align: left;
    padding: 0 0;
  }

  .chara-select-info-detail {
    margin: 2% 3% 1%;
    min-height: 150px;
    width: 55%;
    display: inline-block;
  }

  .chara-select-info-detail h3 {
    font-size: 0.85rem;
    padding: 3% 3% 2%;
  }

  .chara-select-info-detail h4 {
    margin-top: 2%;
    font-size: 0.8rem;
  }

  .chara-select-info-detail-body {
    max-height: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }

  .chara-select-info-detail-body p {
    font-size: calc(0.8rem + ((0.9vw - 0.7rem) * 0.7));
    padding: 0 3% 4% 3%;
    line-height: 1.8em;
  }

  .chara-select-info-detail p {
    font-size: 0.65rem;
    padding: 0 3% 4% 3%;
    color: #becbcf;
    line-height: 1.2rem;
  }

  .chara-sub {
    position: absolute;
    right: 5%;
    bottom: 0;
    display: inline-block;
    width: 30%;
  }

  .chara-sub img {
    width: 100%;
  }

  .chara-select-area-list {
    margin-top: 2%;
    background-color: #242626;
    border-radius: 40px;
    padding: 0.5%;
    width: 100%;
  }

  .chara-select-list {
    margin-top: 5%;
    min-height: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  .chara-select-list::-webkit-scrollbar {
    display: none;
  }

  .chara-select-list ul {
    text-align: center;
    width: 100%;
  }

  .chara-select-list ul li {
    width: 13%;
    cursor: pointer;
  }

  .chara-area-swiper-container-sp {
    overflow-x: hidden;
    margin: 4% 0;
    background-color: #242626;
    padding: 1% 0%;
    height: 100%;
  }

  .chara-area-jigokiu {
    width: 35%;
  }

  .chara-area-swiper-container-sp .swiper-slide {
    padding: 1% 3% 1.5%;
    vertical-align: middle;
  }

  .chara-area-swiper-container-sp .swiper-slide-active {
    background-color: #03838e;
    border-radius: 40px;
    padding: 1% 5% 1.7%;
  }

  .chara-area-swiper-container-sp img:not(.chara-area-jigokiu) {
    height: 100%;
    vertical-align: middle;
    margin: auto;
    width: 60%;
  }

  .chara-area-swiper-container-sp .swiper-slide-active img:not(.chara-area-jigokiu) {
    width: 100%;
  }

  .swiper-slide-active .chara-area-jigokiu {
    width: 50%;
  }

  .chara-select-area-list-sp {
    margin: 6% 0;
    background-color: #242626;
    padding: 0.5%;
    width: 100%;
  }

  .chara-select-diagram {
    margin-top: 8%;
  }

  .chara-select-diagram img {
    width: 60%;
  }

  .modaal-content-container {
    padding: 0;
    height: 100%;
  }

  .chara-modal-area {
    height: 100%;
    vertical-align: middle;
    margin: auto;
  }

  .modaal-container {
    height: 100%;
  }

  .modaal-content {
    height: 100%;
  }

  .modaal-inner-wrapper {
    margin: auto;
    padding: 0;
  }

  .chara-diagram-modal-close {
    position: absolute;
    right: 5%;
    top: 3%;
    width: 10%;
    cursor: pointer;
  }

  .chara-diagram-modal-img {
    position: relative;
    top: 30%;
    width: 100%;
    margin: auto;
  }

  .chara-swiper-container img {
    width: 40%;
  }

  .top-pre-register-btn {
    position: relative;
    position: fixed;
    z-index: 100;
    right: 1%;
    bottom: 1%;
    text-align: right;
  }

  .top-pre-register-btn img {
    width: 50%;
  }

  .modaal-video-wrap {
    margin: auto 10px;
  }
}
