/* 오늘 하루 보지 않기 */
.popup_window .popup_checkbox{text-align:left;padding-left:15px}
.popup_window input[type="checkbox"]{display:none}
.popup_window input[type="checkbox"] + label{display:inline-block;border:0;position:relative;color:#fff;opacity:0.5;padding-left:22px;font-size:12px;}
.popup_window input[type="checkbox"] + label::after{content:"";display:block;width:18px;height:18px;border:0;position:absolute;top:1px;left:0;background:url("../img/popup/checkbox.png") no-repeat 0 0}
.popup_window input[id="check1"]:checked + label::after{background-position-x:100%}

/* 팝업 비디오 */
#popup_video{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_video .btn_close{display:block;position:absolute;right:-5px;top:-55px;width:50px;height:50px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
#popup_video .video_wrap{position:absolute;left:0;top:0;right:0;bottom:0;min-height:600px}
#popup_video .video_box{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);padding:2px}
#popup_video .video_box::before{display:block;content:"";position:absolute;left:0;top:0;right:0;bottom:0;border:5px solid #3266ac;pointer-events:none;z-index:2}
#popup_video .video_box .video{display:block;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1}

@media screen and (max-width:1060px) {
    #popup_video .video_box{left:30px;right:30px;transform:translate(0,-50%)}
}

#popup_relation{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_relation .btn_close{display:block;position:absolute;right:8%;top:11%;width:30px;height:30px;background:url("../img/icon/popup_close_black.png") no-repeat center center;z-index:10}
#popup_relation .relation_box{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);/*max-width:900px;width:100%*/max-height:100vh}
#popup_relation .relation_box .relation{display:block;/*width:100%*/}

#popup_feature{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_feature .btn_close{display:block;position:absolute;right:-5px;top:-35px;width:30px;height:30px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
#popup_feature .feature_box{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);/*max-width:354px;width:100%*/max-height:100vh}
#popup_feature .feature_box .feature{display:block;/*width:100%*/height:calc(100vh - 200px)}

#popup_media{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_media .btn_close{display:block;position:absolute;right:64px;top:60px;width:30px;height:30px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
#popup_media .media_box{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);padding:40px;max-width:1140px;width:100%}
#popup_media .media_box .image_box{position:relative;padding-bottom:100px}
#popup_media .media_box .image_box::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url("../img/media/bg_line.png") 0 0 no-repeat;background-size:100% auto;z-index:2}
#popup_media .media_box .text_box{position:absolute;left:0;top:0;z-index:1;width:100%;background:url(../img/media/bg_cover.png) 0 0 no-repeat;background-size:100% auto;padding:30px 0 0;height:100%}
#popup_media .media_box .text_box p{padding-left:30px}
#popup_media .media_box .text_box .category{font-size:14px;color:#14ebff;font-weight:700;letter-spacing:0}
#popup_media .media_box .text_box .name{font-size:34px;color:#fff;font-weight:700}
#popup_media .media_box .image{display:block;width:100%;position:relative}
#popup_media .media_box .btn_box{display:flex;gap:8px;position:absolute;left:0;bottom:0;right:0;padding:25px 25px 35px 25px;background:url("../img/media/bg_btn.png") no-repeat center bottom;background-size:100% 100%;z-index:3}
#popup_media .media_box .btn_box .btn_download{display:flex;align-items:center;justify-content:center;flex:0 0 calc(17% - 10px);position:relative;height:50px;background:url("../img/media/btn_text.png") no-repeat;background-size:100% 100%}
#popup_media .media_box .btn_box .btn_download::before{display:inline-block;content:"";margin-right:10px;width:15px;height:14px;background:url("../img/media/icon_download.png") no-repeat}
#popup_media .media_box .btn_box .btn_download:active{background:url("../img/media/btn_text_on.png") no-repeat;background-size:100% 100%}
@media screen and (min-width:780px) {
    #popup_media .media_box .btn_box .btn_download:hover{background:url("../img/media/btn_text_on.png") no-repeat;background-size:100% 100%}
}

.audio_wrap{position:absolute;left:0;top:0;z-index:-1;opacity:0}

/* 약관 팝업 */
.popup_reserve{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
.popup_reserve .btn_close{display:block;position:absolute;right:10px;top:10px;width:50px;height:50px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
.popup_reserve .notice_box{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);background:url("../img/popup/bg.png") center no-repeat;background-size:100% 100%}
.popup_reserve .notice_title{text-align:center;color:#fff;font-size:30px;font-weight:700;padding-top:40px;line-height:1.2em;letter-spacing:-0.5px}

.popup_reserve .content_area{max-height:calc(100% - 180px);overflow-y:auto;width:calc(100% - 80px);margin:25px auto 0}
.popup_reserve .notice_cont{padding-right:10px}
.popup_reserve .notice_cont p{color:#fff;font-size:14px;line-height:1.5em;}
.popup_reserve .notice_cont li{color:#fff;font-size:13px;line-height:1.3em;opacity:0.8;position:relative;}
.popup_reserve .notice_cont li + li{margin-top:5px}
.popup_reserve .notice_cont p + p{margin-top:5px}
.popup_reserve .notice_cont p + ul{margin-top:5px}
.popup_reserve .notice_cont ul + p{margin-top:20px}
.popup_reserve .notice_cont p b{font-weight:700;}

.popup_reserve .notice_cont ul.type1 li{padding-left:15px}
.popup_reserve .notice_cont ul.type1 li::before{position:absolute;top:0;left:0}
.popup_reserve .notice_cont ul.type1 li:nth-child(1)::before{content:"1."}
.popup_reserve .notice_cont ul.type1 li:nth-child(2)::before{content:"2."}
.popup_reserve .notice_cont ul.type1 li:nth-child(3)::before{content:"3."}
.popup_reserve .notice_cont ul.type1 li:nth-child(4)::before{content:"4."}
.popup_reserve .notice_cont ul.type1 li:nth-child(5)::before{content:"5."}
.popup_reserve .notice_cont ul.type1 li:nth-child(6)::before{content:"6."}
.popup_reserve .notice_cont ul.type1 li:nth-child(7)::before{content:"7."}
.popup_reserve .notice_cont ul.type1 li:nth-child(8)::before{content:"8."}
.popup_reserve .notice_cont ul.type1 li:nth-child(9)::before{content:"9."}

.popup_reserve .notice_cont ul.type2 li{padding-left:15px}
.popup_reserve .notice_cont ul.type2 li::before{position:absolute;top:0;left:5px;content: "-"}

#popup_reserve_01 .notice_box{width:600px;height:560px}
#popup_reserve_02 .notice_box{width:500px;height:300px;background-image:url("../img/popup/bg2.png")}
#popup_reserve_03 .notice_box{width:500px;height:438px}

/* 스토어 사전예약 혜택 팝업 */
#popup_benefit{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_benefit .btn_close{display:block;position:absolute;right:10px;top:10px;width:50px;height:50px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
#popup_benefit .benefit_box{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)}

/* 사전 다운로드 팝업 */
#popup_download{display:none;position:fixed;left:0;top:0;bottom:0;right:0;overflow:hidden;overflow-y:auto;background:rgba(0,0,0,0.7);z-index:1000}
#popup_download .btn_close{display:block;position:absolute;right:10px;top:10px;width:50px;height:50px;background:url("../img/icon/popup_close.png") no-repeat center center;z-index:10}
#popup_download .download_box{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:720px;height:450px;background:url("../img/popup/bg3.png") center no-repeat;background-size:100% auto;text-align:center}
#popup_download .download_box .inner{padding-top:50px}
#popup_download .download_box .popup_checkbox{position:absolute;bottom:-25px;left:0}

#popup_download .btn_box{margin:40px auto}
#popup_download .btn_box .btn_app{display:inline-block;margin:4px}
#popup_download .btn_box .btn_app img{width:100%;box-shadow:10px 10px 10px 0 rgba(0,0,0,0.3)}
#popup_download .btn_box .btn_app.disabled{position:relative;pointer-events:none;cursor:default}
#popup_download .btn_box .btn_app.disabled::after{position:absolute;left:0;top:0;background:#000;width:100%;height:100%;content:"COMING SOON";color:#fff;font-size:14px;opacity:0.9;line-height:53px;letter-spacing:0}

@media screen and (max-height:800px) {
    #popup_media .btn_close{right:50px;top:50px}

    #popup_media .media_box{max-width:800px;width:100%}
    #popup_media .media_box .text_box .name{font-size:18px}
    #popup_media .media_box .btn_box{background:url("../img/media/bg_btn_m.png") no-repeat center bottom;background-size:100% 100%}
    #popup_media .media_box .btn_box{flex-wrap:wrap;padding:20px 20px 30px 20px}
    #popup_media .media_box .btn_box .btn_download{flex:0 0 calc(34% - 10px)}

    #popup_relation .relation_box .relation{max-height:100%}
}

@media screen and (max-height:900px) and (max-width:1200px) {
    #popup_relation .relation_box .relation{max-height:none;width:100%}
}

@media screen and (max-width:1100px) {
    #popup_feature .btn_close,
    #popup_media .btn_close,
    #popup_video .btn_close,
    .popup_window .btn_close{background-image:url("../img/icon/popup_close_m.png");background-size:75% auto;width:50px;height:50px;}
    #popup_video .btn_close{top:-55px}
    .popup_reserve .btn_close{top:-55px;right:0}
    #popup_media .btn_close{top:-35px}
    #popup_benefit .btn_close{top:-65px;right:0}
    #popup_download .btn_close{top:-65px;right:0}
    #popup_feature .btn_close{top:-55px}
}

@media screen and (max-width:780px) {
    #popup_relation .relation_box .relation{width:calc(100vw - 60px)}

    #popup_media .btn_close{right:20px}
    #popup_media .media_box{padding:30px;max-width:800px;width:100%}
    #popup_media .media_box .text_box{background:transparent;top:-70px;left:0;padding:0}
    #popup_media .media_box .text_box p{padding-left:0}
    #popup_media .media_box .text_box .category{font-size:18px}
    #popup_media .media_box .text_box .name{font-size:22px;line-height:1.1em}
    #popup_media .media_box .btn_box{background:url("../img/media/bg_btn_m.png") no-repeat center bottom;background-size:100% 100%}
    #popup_media .media_box .btn_box{flex-wrap:wrap;padding:15px 10px}
    #popup_media .media_box .btn_box .btn_download{flex:0 0 calc(34% - 10px);height:40px}
    #popup_media .media_box .btn_box .btn_download::before{display:none}

    /* 약관 팝업 */
    .popup_reserve .notice_box{width:calc(100% - 40px)!important;height:auto!important;background-image:url("../img/popup/bg_m.png");background-size:100% 100%;padding-bottom:40px}
    .popup_reserve .notice_title{font-size:22px;padding-top:32px}

    /* 스토어 사전예약 혜택 팝업 */
    #popup_benefit .benefit_box{width:calc(100% - 40px);}
    #popup_benefit .benefit_box img{width:100%}

    /* 사전 다운로드 팝업 */
    #popup_download .download_box{width:calc(100% - 40px)!important;height:auto;max-height:calc(100% - 200px);background-image:url("../img/popup/bg_m.png");background-size:100% 100%}
    #popup_download .download_box .inner{padding:50px 0}
    /* #popup_download .download_box .inner{position:absolute;left:0;top:50%;transform:translateY(-50%);width:100%;padding-top:0} */
    #popup_download .download_box img{width:100%}
    #popup_download .btn_box .btn_app{display:block;margin:10px auto;width:calc(100% - 200px)}
}
